<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BeerTag | Home</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}"/>
</head>
<body>
<header>
    <div>
        <h3>
            <a href="#" th:href="@{/}" th:text="#{navigation.home}">Home</a>
            | <a href="#" th:href="@{/beers}" th:text="#{navigation.all-beers}">Browse all beers</a>
            | <a href="#" th:href="@{/about}" th:text="#{navigation.about}">About</a>
        </h3>
    </div>
</header>
<div class="body-content">
    <h2 th:text="#{home.welcome}">Welcome (design)!</h2>
    <img src="../static/images/logo.png" th:src="@{/images/logo.png}" alt="BeerTag logo"/>
    <p>A beer a day keeps the doctor away!</p>
</div>
<footer>
    <small th:text="${'© Copyright ' + #dates.year(#dates.createNow()) + ' BeerTag'}">BeerTag</small>
</footer>
</body>
</html>